form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    input[type="text"],
    input[type="number"],
    select,
    textarea {
      border-radius: 0.5rem;
      padding: 0.5rem 1rem;
      color: var(--color-cream);
      background-color: var(--color-dark);
      border: 1px solid var(--color-dark);
    }
    input[type="text"]:active,
    input[type="number"]:active,
    select:active,
    textarea:active {
      color: var(--color-cream);
      border-color: var(--color-cream);
      transition: all 0.3s ease-in-out;
    }
    textarea {
      margin-block-end: 1rem;
    }
    input[type="submit"] {
      align-self: flex-end;
      width: max-content;
      border-radius: 0.5rem;
      padding: 0.5rem 1rem;
      color: var(--color-cream);
      background-color: var(--color-dark);
      border: 1px solid var(--color-dark);
      &:hover {
        color: var(--color-cream);
        border-color: var(--color-cream);
        transition: all 0.3s ease-in-out;
      }
    }
    
  }