.button {
  width: max-content;
  margin: 0 auto 4rem auto;
}

#product h1 {
  padding: 1rem;
  background-color: var(--color-dark);
  color: var(--color-cream);
  border-radius: 0.5rem 0.5rem 0 0;
  text-align: center;
  font-size: 2rem;
}

#product img {
  height: 20rem;
  width: 100%;
  object-fit: cover;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

#product .infos1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.stock {
  padding: 0.5rem;
  font-weight: 600;
}

#product .infos2 {
  padding: 0 0 2rem 0;
  text-align: end;
  display: flex;
  flex-direction: row;
  p {
    padding: 0.5rem 2rem ;
    margin-inline-start: 1rem;
    background-color: var(--color-dark);
    border-radius: 0 0 1rem 1rem;
  }
}

#product article a {
  margin-top: 1rem;
}

p:has(.feature) {
  margin: 1.5rem 1rem
}

.feature {
  padding: 0.5rem 1.5rem;
  margin-inline-end: 1rem;
  background-color: var(--color-cream);
  color: var(--color-dark);
  border-radius: 2rem;
}

.big-message {
  text-align: center;
  p:first-child {
    font-size: 10rem;
  }
}

