<%- include("partials/header") %>
<main>
  <section id="product">
    <h1>Page non trouvée</h1>
    <div class="big-message">
      <p>404</p>
      <p>Oups, cette page n'existe pas encore sur le site !</p>
    </div>
  </section>
  <a href="/catalogue" class="button"> Retour au catalogue </a>
</main>

<%- include("partials/footer") %>
