<%- include("partials/header") %>
<main>
  <section id="product">
    <h1>Nom du produit</h1>
    <img src="/images/coffees/295432730.png" alt="Sumatra Mandheling" />
    <div>
      <p>Origine Indonésie</p>
      <p>25,99 €/kg</p>
    </div>
    <p>Description du produit</p>
  </section>
  <a href="/catalogue" class="button"> Retour au catalogue </a>
</main>

<%- include("partials/footer") %>
