<%- include("partials/header") %>
  <main>
    <section id="product">
      <h1>Nom du produit</h1>
          <img
            src="/images/coffees/295432730.png"
            alt="Sumatra Mandheling"
          />
          <div>
            <h2>Sumatra Mandheling 1</h2>
            <p>Origine Indonésie</p>
            <p>25,99 €/kg</p>
            <p>Description du produit</p>
          </div>

  
    </section>
        <a href="/catalogue" class="button">
        Retour au catalogue
      </a>
  </main>

<%- include("partials/footer") %>
